<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <meta charset="utf-8">
    <title>Información de medellin</title>
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="bower_components/materialize/dist/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="">
    <link rel="stylesheet" type="text/css" href="public/css/styles.css">
</head>

<body class="grey lighten-5">
    <section ng-controller="ctrlinfo" id="main-container">
        <div class="carousel carousel-slider center" data-indicators="true">
            <div class="carousel-item" ng-repeat="inv in [0,1,2,3,4,5,6,7,8,9]">
                <div ng-repeat="img in images track by $index">
                  <img ng-src="{{img + $index + '/'}}" alt="">
                </div>
            </div>
        </div>
        <br>
        <div class="container">

            <div class="row">
                <!-- Modal Trigger -->
                <a class="waves-effect waves-light btn" href="#modal1">Ingreso de datos.</a>

                <!-- Modal Structure -->
                <div id="modal1" class="modal modal-fixed-footer">
                    <div class="modal-content">
                        <h4>Información de la población de medellin</h4>

                        <form class="col s12 grey lighten-2">
                          <div class="row">
                            <div class="input-field col s12">
                              <input ng-model="it_zone" id="zone" type="text" class="validate">
                              <label for="zone">Zona</label>
                            </div>
                          </div>

                          <div class="row">
                            <div class="input-field col s6">
                              <input ng-model="it_y1993" id="y1993" type="text" class="validate">
                              <label for="y1993">Año 1993</label>
                            </div>
                          
                            <div class="input-field col s6">
                              <input ng-model="it_y2005" id="y1995" type="text" class="validate">
                              <label for="y1995">Año 2005</label>
                            </div>
                          </div>

                          <div class="row">
                            <div class="input-field col s6">
                              <input ng-model="it_y2010" id="y2010" type="text" class="validate">
                              <label for="y2010">Año 2010</label>
                            </div>
                        
                            <div class="input-field col s6">
                              <input ng-model="it_y2015" id="y2015" type="text" class="validate">
                              <label for="y2015">Año 2015</label>
                            </div>
                          </div>

                          <div class="row">
                            <h5>Por favor selecciona la fecha de creación y actualización:</h5>
                            <div class="input-field col s6">
                              <input ng-model="it_created_at" id="Creado" type="datetime-local" class="validate">
                              <br>
                              <!-- <label for="Creado">Creado</label> -->
                            </div>
                    
                            <div class="input-field col s6">
                              <input ng-model="it_updated_at" id="Actualizado" type="datetime-local" class="validate">
                              <br>
                              <!-- <label for="Actualizado">Actualizado</label> -->
                            </div>
                          </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                       <!--  <a href="#!" class=" modal-action modal-close waves-effect waves-light btn">Agregar</a> -->
                        <button class=" modal-action modal-close waves-effect waves-light btn" ng-click="agregarinfo()">Agregar</button>
                    </div>
                </div>
            </div>

            <div class="row">
                <table class="bordered grey lighten-4">
                    <h3>Información</h3>
                    <caption>Información de la población de medellin</caption>
                    <thead>
                        <tr>
                            <th>N°</th>
                            <th>Zona</th>
                            <th>Año 1993</th>
                            <th>Año 2005</th>
                            <th>Año 2010</th>
                            <th>Año 2015</th>
                            <th>Creado</th>
                            <th>Actualizado</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="info in information | orderBy:'zone'">
                            <td>{{$index+1}}</td>
                            <td>{{info.zone}}</td>
                            <td>{{info.y1993}}</td>
                            <td>{{info.y2005}}</td>
                            <td>{{info.y2010}}</td>
                            <td>{{info.y2015}}</td>
                            <td>{{info.created_at}}</td>
                            <td>{{info.updated_at}}</td>
                        </tr>
                        <tr ng-repeat="item in listinfo | orderBy:'zone'">
                            <td>{{$index+1}}</td>
                            <td>{{item.zone}}</td>
                            <td>{{item.y1993}}</td>
                            <td>{{item.y2005}}</td>
                            <td>{{item.y2010}}</td>
                            <td>{{item.y2015}}</td>
                            <td>{{item.created_at}}</td>
                            <td>{{item.updated_at}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-aria/angular-aria.min.js" type="text/javascript"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-material/angular-material.min.js" type="text/javascript" ></script>
    <script src="bower_components/angular-messages/angular-messages.min.js" type="text/javascript"></script>
    <script src="bower_components/angular-route/angular-route.min.js" type="text/javascript" charset="utf-8" async defer></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/materialize/dist/js/materialize.min.js" type="text/javascript"></script>
    <script src="public/js/app.js"></script>
    <script>
        $(document).ready(function() {
            $('.carousel.carousel-slider').carousel({fullWidth: true});
            $('.modal').modal();
            $('.datepicker').pickadate({
                selectMonths: true, // Creates a dropdown to control month
                selectYears: 15 // Creates a dropdown of 15 years to control year
            });
        });
    </script>
</body>

</html>
